<template>
  <v-app>
    <page-header/>

    <main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </main>

    <page-footer />
  </v-app>
</template>

<script>
  import PageHeader from '@/components/Header.vue'
  import PageFooter from '@/components/Footer.vue'

  export default {
    components: {
      PageHeader,
      PageFooter
    }
  }
</script>

<style>

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 30px 0 0;
}

h1, .h1 {
  font-size: 3.6em;
}

h2, .h2 {
  font-size: 2.8em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 0px;
}

h4, .h4 {
  font-size: 1.6em;
  line-height: 1.2em;
}

h5, .h5 {
  font-size: 1.35em;
  line-height: 1.4em;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  line-height: 1.5em;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%;
}

.line {
  color: #F1EAE0 !important;
  width: 90%;
  justify-content: center;
}

.container {
  padding: 0;
}

.section {
  padding: 50px 0;
}

.toolbar--fixed + main {
    padding-top: 0;
}

.application .theme--dark.toolbar {
  background-color: rgba(0,0,0,0);
}

</style>
