<template>
  <section class="hero is-success is-large is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Large title
        </h1>
        <h2 class="subtitle">
          Large subtitle
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>

</style>
