<template>
  <section>
    <header class="headroom headroom--unpinned" />
    <hero />
  </section>
</template>

<script>
import Hero from '../components/Hero'

export default {
  components: {
    Hero
  }
}
</script>

<style>

</style>
