<template lang="html">
  <v-layout  column align-center justify-center class="section">
    <v-flex>
      <h2 class="my-title">About Me</h2>
    </v-flex>
    <v-flex>
      <h5 class="description text-xs-center">
        Hi, I’m Pamela, an English speaking certified personal trainer based in Bordeaux, France.
      </br>
        I’ve been an amateur athlete for 20 years.
      </h5>
      </br>
    </v-flex>
    <v-flex xs6>
      <h5 class="description text-xs-center">
        After devoting it much time, I am enthusiastic and excited to be teaching it in various ways and using resources that resonate to many whom want to make fitness a part of their lives.
      </br>
      </h5>
    </v-flex>
    <v-flex xs6>
      <h5 class="description text-xs-center">
        My goal is to challenge and inspire you to become the best version of yourself through personalised workouts, nutrition and tness tips.
      </br>
        Classes are given in both English and French. Each program will be customised to meet your needs, lifestyle and daily schedule.
      </h5>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
}
</script>

<style scoped lang="css">
.my-title {
  /*margin-top: 80px;*/
  margin-bottom: 25px;
  min-height: 32px;
  color: #333333;
  font-size: 2.8em;
}

.description {
  color: #9A9A9A;
  font-size: 1.35em;
  line-height: 1.4em;
}
</style>
