<template lang="html">
  <v-layout column class="container section" text-xs-center>
    <v-flex>
      <h2 class="my-title">Get in touch</h2>
    </v-flex>
    <v-flex md8 offset-md2>
      <v-form v-model="valid" ref="form">
        <v-text-field
          label="Name"
          v-model="data.name"
          :rules="nameRules"
          required
        ></v-text-field>
        <v-text-field
          label="E-mail"
          v-model="data.mail"
          :rules="emailRules"
          required
        ></v-text-field>
        <v-text-field
          label="Message"
          v-model="data.text"
          :rules="messageRules"
          :counter="10"
          multi-line
          required
        ></v-text-field>

        <v-alert
          class="ml-4"
          :value="sendSuccess"
          transition="scale-transition"
          v-model="alertSuccess"
          dismissible
          success>
          {{sendSuccess}}
        </v-alert>

        <v-alert
          class="ml-4"
          :value="sendError"
          transition="scale-transition"
          :v-model="alertError"
          dismissible
          error>
          {{sendError}}
        </v-alert>


        <v-btn
          round
          :loading="loading"
          class="send-form"
          @click.prevent="submit"
        >
          SEND MESSAGE
        </v-btn>

      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import SendMailService from '@/services/SendMailService.js'

export default {
  data () {
    return {
      loading: false,
      valid: false,
      sendError: null,
      alertError: false,
      sendSuccess: null,
      alertSuccess: false,
      data: {
        name: '',
        mail: '',
        text: ''
      },
      nameRules: [
        (v) => !!v || 'Name is required'
      ],
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      messageRules: [
        (v) => !!v || 'Message is required',
        (v) => v.length > 10 || 'The message must at least 10 characters'
      ]
    }
  },
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        try {
          const res = await SendMailService.post(this.data)
          const success = res.data.accepted[0]

          if (success === 'contact@pamelajoa.com') {
            this.sendSuccess = `Email sended successfully. Thanks you ${this.data.name}`
            this.alertSuccess = true
          } else {
            this.sendError = `Ooops! An error occur when trying to send your message. Please try later.`
            this.alertError = true
          }
        } catch (err) {
          this.error = err
          console.log(err)
          this.sendError = `Ooops! An error occur when trying to send your message. The server is not responding.`
          this.alertError = true
        }
        this.loading = false
      } else {
        this.sendError = `Need to fill all the fields like expected...`
        this.alertError = true
      }
    }
  }
}
</script>

<style scoped lang="css">
.send-form {
  margin-top: 20px;
  background-color: #3daeaf !important;
  color: white;
}

</style>
