<template lang="html">
  <v-container grid-list-xl>
    <v-layout class="container section" text-xs-center>
      <v-flex xm2>
        <v-icon class="i_weight exp-icon"></v-icon>
        <div class="description">
          <h4 class="info-title">Weight-Loss Training</h4><br>
          <!-- <p class="desc-text">Spend your time generating new ideas. You don't have to think of implementing.</p> -->
          <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
      </v-flex>
      <v-flex xm2>
        <v-icon class="i_nastic_dumbbell exp-icon"></v-icon>
        <div class="description">
          <h4 class="info-title">Strength Training</h4><br>
          <!-- <p class="desc-text">Spend your time generating new ideas. You don't have to think of implementing.</p> -->
          <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
      </v-flex>
      <v-flex xm2>
        <v-icon class="i_posture_of exp-icon"></v-icon>
        <div class="description">
          <h4 class="info-title">Stretch/Yoga Techniques</h4><br>
          <!-- <p class="desc-text">Spend your time generating new ideas. You don't have to think of implementing.</p> -->
          <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
      </v-flex>
      <v-flex xm2>
        <v-icon class="i_dancing_man exp-icon"></v-icon>
        <div class="description">
          <h4 class="info-title">Postural Work &amp; Mobility</h4><br>
          <!-- <p class="desc-text">Spend your time generating new ideas. You don't have to think of implementing.</p> -->
          <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
      </v-flex>
      <v-flex xm2>
        <v-icon class="i_pregnant_women exp-icon"></v-icon>
        <div class="description">
          <h4 class="info-title">Postnatal Programs</h4><br>
          <!-- <p class="desc-text">Spend your time generating new ideas. You don't have to think of implementing.</p> -->
          <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
      </v-flex>
      <v-flex xm2>
        <v-icon class="i_nutrition exp-icon"></v-icon>
        <div class="description">
          <h4 class="info-title">Nutrition Tips &amp; Meal Plans</h4><br>
          <!-- <p class="desc-text">Spend your time generating new ideas. You don't have to think of implementing.</p> -->
          <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
        </div>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
export default {
}
</script>

<style scoped lang="css">
.expertise {
  border-bottom: 20px;
}

.exp-icon {
  font-size: 60px;
  margin-bottom: 0px;
  color: #f5593d;
}

.description {
  margin: 0
}

@font-face {
	font-family: "onlinewebfonts";
	src:url("../assets/fonts/onlinewebfonts.eot");
	src:url("../assets/fonts/onlinewebfonts.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/onlinewebfonts.woff2") format("woff2"),
		url("../assets/fonts/onlinewebfonts.woff") format("woff"),
		url("../assets/fonts/onlinewebfonts.ttf") format("truetype"),
		url("../assets/fonts/onlinewebfonts.svg#onlinewebfonts") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="i_"]:before, [class*=" i_"]:before{
	font-family: "onlinewebfonts";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.i_nastic_dumbbell:before {
	content: "\e010";
}
.i_pregnant_women:before {
	content: "\e011";
}
.i_nutrition:before {
	content: "\e012";
}
.i_weight:before {
	content: "\e013";
}
.i_posture_of:before {
	content: "\e014";
}
.i_dancing_man:before {
	content: "\e015";
}
</style>
