<template lang="html">

  <v-footer class="blue darken-2">
        <div class="white--text ml-3">
          Made
          by <a class="white--text" href="http://gilfelot.com" target="_blank">Gil Felot</a>
        </div>
        <v-spacer></v-spacer>
        <div class="white--text">© {{ new Date().getFullYear() }}</div>
  </v-footer>

</template>

<script>
export default {
}
</script>

<style scoped lang="css">
</style>
