<template lang="html">
  <v-layout v-scroll="onScroll">
    <v-toolbar class="header" flat fixed dark v-if="offsetTop <= offsetLimit">
      <v-toolbar-title class="">
        <span
        class="home"
        @click="navigateTo({name: 'Hello'})">
        Pamela Joa
      </span>
    </v-toolbar-title>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn flat href="https://www.facebook.com/pamelajoa.coach" target="_blank">
        <v-icon>fa-facebook-square</v-icon>
      </v-btn>

      <v-btn flat href="https://www.instagram.com/pamelajoa.coach/" target="_blank">
        <v-icon>fa-instagram</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>

  <v-toolbar class="header-reverse" flat fixed v-if="offsetTop > offsetLimit">
    <v-toolbar-title class="">
      <span
      class="home"
      @click="navigateTo({name: 'Hello'})">
      Pamela Joa
    </span>
  </v-toolbar-title>

  <v-spacer></v-spacer>

  <v-toolbar-items>
    <v-btn flat href="https://www.facebook.com/pamelajoa.coach" target="_blank">
      <v-icon>fa-facebook-square</v-icon>
    </v-btn>

    <v-btn flat href="https://www.instagram.com/pamelajoa.coach/" target="_blank">
      <v-icon>fa-instagram</v-icon>
    </v-btn>
  </v-toolbar-items>
</v-toolbar>

  </v-layout>

</template>

<script>
let w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth

export default {
  data () {
    return {
      offsetTop: 0,
      offsetLimit: w * 0.4
    }
  },
  methods: {
    navigateTo (route) {
      this.$router.push(route)
    },
    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
    }
  }
}
</script>

<style lang="css">
.home {
  cursor: pointer;
}
.btn {
  min-width: 50px;
}
.header {
  background-color: rgba(0, 0, 0, 0);
}

.header-reverse {
  background: white;
  color: black;
}

</style>
