<template>
  <section>

    <landing />

    <about-me />

    <v-layout>
      <v-flex offset-xs1>
        <hr class="line">
      </v-flex>
    </v-layout>

    <expertise />

    <price-tag />

    <small-parallax />

    <contact />

  </section>
</template>

<script>
  import Landing from '@/components/Landing.vue'
  import AboutMe from '@/components/AboutMe.vue'
  import Expertise from '@/components/Expertise.vue'
  import PriceTag from '@/components/PriceTag.vue'
  import SmallParallax from '@/components/SmallParallax.vue'
  import Contact from '@/components/Contact.vue'

  export default {
    name: 'hello',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    },
    components: {
      Landing,
      AboutMe,
      Expertise,
      PriceTag,
      SmallParallax,
      Contact
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
