<template lang="html">
  <v-parallax :src="require('@/assets/img/PamelaBackBackground.png')" :height="height">
    <v-layout class="title" column align-center>
      <img src="../assets/img/PamelaLogoWhite.png" alt="Pamela Joa Personal Trainer">
      <h4 class="white--text md-4">Fit is not a destination, it's a lifestyle</h4>
    </v-layout>
  </v-parallax>
</template>

<script>
let w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth

export default {
  data () {
    return {
      height: w * 0.5
    }
  }
}
</script>

<style scoped lang="css">
.title {
  margin-top: 60px;
}
</style>
