<template lang="html">

  <div class="section">
    <v-layout class="" text-xs-center>
      <v-flex>
        <h2 class="my-title">Rates</h2>
      </v-flex>
    </v-layout>

    <v-container grid-list-md>
      <v-layout row>

        <v-flex xs3 class="pricetag">
          <div class="pricetag-with-border">
            <div class="">
              <h4 class="pricetag-title">
                BLISSFUL SESSION
              </h4>
            </div>
            <div class="content">
              <div class="price">
                <h6>Per Session</h6>
                <h4> 30<b class="currency">€</b>*</h4>
              </div>
              <p class="description text-xs-center">1 Session</p>
            </div>
          </div>
          <!-- <div class="pricetag-footer">
            <v-btn :href="pdf" target="_blank">
              More Details
            </v-btn>
            <v-btn :href="pdf" target="_blank">
              Plus de Détails
            </v-btn>
          </div> -->
        </v-flex>

        <v-flex xs3 class="pricetag">
          <div class="pricetag-with-border">
            <div>
              <h4 class="pricetag-title">
                BLISSFUL PASS
              </h4>
            </div>
            <div class="content">
              <div class="price">
                <h6>Per Session</h6>
                <h4> 22.5<b class="currency">€</b>*</h4>
              </div>
              <p class="description text-xs-center">10 Sessions Pass</p>
            </div>
          </div>
          <!-- <div class="pricetag-footer">
            <v-btn>
              More Details
            </v-btn>
          </div> -->
        </v-flex>

        <v-flex xs3 class="pricetag">
          <div class="pricetag-with-border">
            <div>
              <h4 class="pricetag-title">
                BLISSFUL PACKAGE
              </h4>
            </div>
            <div class="content">
              <div class="price">
                <h6>Per Session</h6>
                <h4> 21.5<b class="currency">€</b>*</h4>
              </div>
              <p class="description text-xs-center">
                1h / week <br>
                (6 months / 26 trainings)
              </p>
            </div>
          </div>
          <!-- <div class="pricetag-footer">
            <v-btn>
              More Details
            </v-btn>
          </div> -->
        </v-flex>

        <v-flex xs3 class="pricetag">
          <div class="pricetag-with-border">
            <div>
              <h4 class="pricetag-title">
                EVERLASTING BLISSFUL PACKAGE
              </h4>
            </div>
            <div class="content">
              <div class="price">
                <h6>Per Session</h6>
                <h4> 20<b class="currency">€</b>*</h4>
              </div>
              <p class="description text-xs-center">
                1h / week <br>
                (12 months / 52 trainings)
              </p>
            </div>
          </div>
          <!-- <div class="pricetag-footer">
            <v-btn>
              More Details
            </v-btn>
          </div> -->
        </v-flex>

      </v-layout>

      <v-layout>
        <v-flex offset-md3 md2>
          <v-btn :href="pdfEN" target="_blank" class="info-btn pdfEN">
            More Details
          </v-btn>
        </v-flex>
        <v-flex offset-md2 md2>
          <v-btn :href="pdfFR" target="_blank" class="info-btn pdfFR">
            Plus d'Info
          </v-btn>
        </v-flex>
      </v-layout>

      <v-layout class="annotation">
        <p>* Price after 50% tax credit for all your private lessons. <a href="https://www.entreprises.gouv.fr/services-a-la-personne/fiscalite-avantages-fiscaux-et-sociaux-des-services-a-la-personne" target="_blank">Read more here.</a></p>
      </v-layout>

    </v-container>

  </div>
</template>

<script>
import pdfEN from '../../static/plaquetteEN.pdf'
import pdfFR from '../../static/plaquetteFR.pdf'

export default {
  data () {
    return {
      pdfEN,
      pdfFR
    }
  }
}
</script>

<style scoped lang="css">
.section {
  background-color: #EEE5E5;
}

.my-title {
  /*margin-top: 80px;*/
  margin-bottom: 25px;
  min-height: 32px;
  color: #333333;
  font-size: 2.8em;
}

.pricetag {
  background: #3daeaf;
  height: 440px;
  border-radius: 6px;
  margin: 0 10px;
  color: #ffffff;
}

.pricetag-with-border {
  /*position: absolute;
  display: block;*/
  width: 100%;
  height: 100%;
  /*content: "";*/
  top: 5px;
  left: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
  border-radius: 5px;
}


.pricetag-title {
  text-align: center;
  font-weight: bold;
  min-height: 52px;
}

.content {
  padding: 15px 15px 25px 15px;
}

.pricetag .content .price {
    border: 4px solid rgba(255, 255, 255, 0.7);
    color: white;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin: 50px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.pricetag .content .price h6 {
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 16px;
}

.pricetag .content .price h4 {
    margin: 5px 0 0;
    font-size: 36px;
    font-weight: 400;
}

.pricetag .content .price .currency {
    font-size: 22px;
    font-weight: normal;
}

.description {
  font-size: 16px;
  font-weight: bold;
}

.pricetag-footer {
  text-align: center;
}

.annotation {
  padding-top: 30px;
}

.info-btn {
  margin-top: 30px;
  width: 80%;
}
</style>
