<template lang="html">

    <v-parallax :src="require('@/assets/img/pamelaBeach2.jpg')" height="480">
    </v-parallax>

</template>

<script>
export default {
}
</script>

<style scoped lang="css">
</style>
